@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.title{
    text-align: center;
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
}

.common-description{
    text-align: center;
    color: #0D1321;
    font-size: 16px;
    margin-bottom: 32px;
}

.common-title-section{
    padding: 0px 47px 48px;
}

/* Header Styles */
.header{
    background-image: url("../assets/Hero-bg.png");
}

/* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.banner-pic-with-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 998px;
    margin: 26px 221px 45px;
}

.banner-profile-pic{
    width: 240px;
    height: 240px;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 998px;
}

.banner-title{
    text-align: center;
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    max-width: 998px;
}

.btn-contact{
    background-color: #0D1321;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
    display: block;
    margin: auto;
}

/* Why Web Development Frame Styles */
.why-web-frame{
    max-width: 1140px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 5px;
    margin: 74px 152px 90px 148px;
    padding: 80px 97px;
    background-position: center;
}

.sub-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}

.motiv-description{
    color: #0D1321;
    font-size: 16px;
    margin-bottom: 32px;
}

.btn-more{
    border-color: #0D1321;
    padding: 12px 20px;
    font-size: 20px;
    color: #0D1321;
    font-weight: 600;
    background-color: #FFFFFF;
}

.motivation{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-color: #FFFFFF;
}

.motivation-content{
    width: 477px;
}

/* Motivation Card 2 elements do not seem to have space between like motivation card 1 and 3. That's why, I added padding and margin according to figma  */
.motivation2{
    display: flex;
    padding: 48px;
}

.image-square{
    margin-right: 32px;
}

/* My Inspiration frame styles */
.inspiration-frame{
    max-width: 1140px;  
    margin: 0 152px 90px 151px;
    padding: 0 97px;
    background-position: center;
}

.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video{
    border-radius: 16px;
}

.video-frame{
    border: 32px solid whitesmoke;
    border-radius: 16px;
}

/* My Current Target frame styles */
.target-frame{
    max-width: 1240px;  
    margin: 0 152px 90px 151px;
    background-position: center;
}

.skill-image{
    width: 56px;
    height: 56px;
}

.small-title{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
}

.more-link{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}

.one{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 32px;
    width: 364px;
}

.two{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 32px;
    width: 364px;
}

.three{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 32px;
    width: 364px;
}

.skills{
    display: flex;
    column-gap: 24px;
}

/* Support frame styles */
.support-frame{
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0.2) 20%
    ),
    url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    width: 1140px;
    height: 313px;   
    padding: 64px 48px;
    background-position: 50% 50%;
    border-radius: 16px;
    margin: 49px 150px 80px 150px;
}

.support{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.support-content{
    width: 606px;
    text-align: center;
    margin-bottom: 24px;
}

.support-title{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

.support-description{
    font-size: 16px;
    color: #FFFFFF;
}

.support-form{
    min-width: 684px;
    display: flex;
    justify-content: space-between;
}

.feedback{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    padding: 20px;
    border-radius: 8px;
    border-color: none;
}

.btn-submit{
    background-color: #FFFFFF;
    color: #0D1321;
    width: 120px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border-radius: 8px;
}